*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
}
header h1{
    display: inline;
    font-size: 3rem;
}
header img {
    width: 100%;
    height: 85%;
    align-self: flex-end;
    object-fit: cover;
    object-position: 80% 20%;
}
nav{
    position: relative;
    top: 3rem;
    margin-left: 2rem;
}
nav a{
    display: inline-block;
    background-color: rgb(88, 186, 231);
    width: 7rem;
    height: 3rem;
    padding: .8rem;
    margin-left: .5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
}
nav a:hover{
    background-color: rgb(98, 145, 28);
}
nav .active{
    background-color: rgb(98, 145, 28);
}
main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 50vh;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(88, 186, 231);
}
section>h2{
    width: 100%;
    padding: .5rem 0;
    background-color: rgb(98, 145, 28);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
section .logo{
    width: 200px;
    height: 200px;
}
section img:nth-child(3){
    width: 25rem;
    height: 20rem;
    border: 1px solid black;
}
article{
    width:80%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.scheduleTable{
    width: 80%;
    border: 1px solid black;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.politicas{
    width: 60%;
    display: block;
    margin-top: 3rem;
}
.politicas h2{
 margin-bottom: 1rem;
}
.politicas p {
    text-indent: 2rem;
}
.politicas h3, .politicas p, .politicas h4{
    display: inline;
}
.politicas ol{
    list-style-position: inside;
}
.politicas li {
    margin-bottom: 2rem;
}
.politicas li:nth-child(3) li{
    margin: 0;
}
.politicas ul {
    margin: 1rem 0 0 2rem;
}
.infoText{
    display:flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 2rem 0 0 2rem;
}
.infoText h3{
    margin: .5rem 0
}
.infoText p {
    text-indent: 17px;
}